body {
  padding-top: 40px;
  background-image:url('/assets/brickwall.png');
}

#page-content {
  margin: 0 0 0 0;
}

#background {
  width: 100%;
  height: 1000px;
}

#bgcontainer {
  background-image:url('/assets/Story4.jpg');
  background-repeat: no-repeat;
  z-index: 0;
  width: 100%;
  height: 100%;
}

#appintro {
<<<<<<< HEAD
        width: 100%;
        height: 50%;
        z-index: 1;
        color: white;
        position: relative;
        bottom: 50%;
        text-align: center;
        font-family: helvetica, sans-serif;
}

#user-edit-btn {
  float: right;
  margin: 20px;
}

#form-container h3{
  text-align: center;     
}

#form-container .field {
  width: 100%;
}

#form-container .field input {
  width: 100%;
}

.flash-container {
  margin-top: 15px;
  margin-left: 0;
/*  background: red;
  border-top-right-radius: 0.5em 0.5em;
  border-bottom-right-radius: 0.5em 0.5em;
  border-top-left-radius: 0.5em 0.5em;
  border-bottom-left-radius: 0.5em 0.5em;*/
}

#flash-error {
  background: #f2dede;
  border: 1px solid #eed3d7;
  padding: 3px 0px 3px 10px;
}

#flash-notice {
  background: #a5ffb9;
  border: 1px solid #09ea94;
  padding: 3px 0px 3px 10px;
}

.flash-msg {
  border-top-right-radius: 0.5em 0.5em;
  border-bottom-right-radius: 0.5em 0.5em;
  border-top-left-radius: 0.5em 0.5em;
  border-bottom-left-radius: 0.5em 0.5em;
}

.flash-error-msg {
  color: #b94a48;
}