// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.imagespace {
	display: inline-block;
	padding-left: 30px;
	float: left;
/*	clear: both;*/
	padding: 10px;
	margin: 10px;
	width: 200px;
	height: 160px;
	background-color: #313233;

}

.indexinfo {
/*	bottom: 200px;*/
/*	clear: both;*/
	color: transparent;
	float: left;
	padding-left: 10px;
	position: relative;
}

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

#background {

	width: 100%;
	height: 1000px;
}

#bgcontainer {
	background-image:url('/assets/Story4.jpg');
	background-repeat: no-repeat;
	z-index: 0;
	width: 100%;
	height: 100%;
}

#appintro {
	width: 100%;
	height: 100%;
	z-index: 1;
	color: white;
	position: relative;
	bottom: 50%;
	text-align: center;
}