// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.imagespace {
	display: inline-block;
	padding-left: 30px;
	float: left;
/*	clear: both;*/
	padding: 10px;
	margin: 10px;
	width: 200px;
	height: 160px;
	background-color: #313233;

}

.indexinfo {
/*	bottom: 200px;*/
/*	clear: both;*/
	color: transparent;
	float: left;
	padding-left: 10px;
	position: relative;
}

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}