// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-image {
	background: white;
	margin: 0;
	padding: 0;
	max-height: 210px;
	max-width: 210px;
	border-top-left-radius: 0.5em 0.5em;
	border-bottom-left-radius: 0.5em 0.5em;
}

.project-image img {
	float: right;
	border-top-left-radius: 0.5em 0.5em;
	border-bottom-left-radius: 0.5em 0.5em;
}

.project {
	background: #f4f4f4;  
  margin-bottom: 6px;
  padding: 0 0;
  height: 210px;
  margin: 20px 0;
  border-top-left-radius: 0.5em 0.5em;
	border-bottom-left-radius: 0.5em 0.5em;
	border-top-right-radius: 0.5em 0.5em;
	border-bottom-right-radius: 0.5em 0.5em;
	background-color: #fff;
}

.project-info {
	height: 210px;
	margin: 0;
	padding: 0;
	padding-left: 15px;
	border-top-right-radius: 0.5em 0.5em;
	border-bottom-right-radius: 0.5em 0.5em;
	background-color: #fff;
}

.project-info .row {
	width: inherit;
}

.project-info .row div {
	width: inherit;
}

.project-info .row div p {
	width: inherit;
}

#form-container {
	margin: 0 auto;
}

#essay-container textarea {
	width: 95%;
	resize: none;
}

#btn-container {
	margin-top: 190px;
}

#form-container .field {
	margin-top: 15px;
}

.field-input {
	width: 94%;
}