<div class="projects_list">
	<% @projects.each do |project| %>
	<div class="row">
		<div class="imagespace">
			<img src=<%= project.avatar_url(:thumb) %>>
		</div>
		<div class="row">
			<div class="indexinfo">
			  	<h2><%= link_to project.title, project %><h2>
			</div>
	    </div>
	 	<div class="row">
	  		<div class="tag_list">
	  			Tags: <%= raw project.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>
	  		</div>
	  	</div>
	</div>
	<% end %>
</div>





